<style type="text/css">
	.head-tab{
		height: 44px;
		line-height: 44px;
		background-color: #efeff0; 
		text-align: center;
		padding: 0 90px;
		border-bottom: 1px solid #F5F5F5;
		position: relative;
	}
	 
	
	.Swipe-tab { 
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.Swipe-tab i:before{
		content: " ";
		display: block;
		height: 2px;
		width: 34px;
		margin: 0 auto;
		background-color: #777;
	}
	.Swipe-tab i{ 
		position: absolute;
		bottom: -1px;	
		left: 0;  
		--webkit-transition: -webkit-transform .3s ease-out;
	}
	.Swipe-tab a{   
		display: block;
		float: left;
		text-align: center;
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}
	.Swipe-tab2 a{ 
		width: 50%;
	} 
	.header_checkIn{
		width:44px;
		height: 44px;
		position: absolute;
		left: 0;
		top: 0;
		background: url('/static/img/checkin.png') no-repeat center;
		-webkit-background-size: 22px auto;
		background-size: 22px auto;
	}
	.header-user{
		width: 44px;
		height: 44px;
		position: absolute;
		right: 0;
		top: 0;
		background: url('/static/img/user.png')no-repeat center;
		-webkit-background-size: 22px auto;
		background-size: 22px auto;
	}

</style>
<div class="head-tab" id="app_header">
	<div class="Swipe-tab Swipe-tab2 clearfix">
		<a href="javascript:void(0)">书城</a>
		<a href="javascript:void(0)">书架</a>
		<i  style="width:217px;transition-duration: 0s;transform: translate3d(0px,0px,0px);"></i>
	</div>
	<em class="header-user"></em>
	<em class="header_checkIn"></em>
</div>