<style type="text/css" media="screen">
	.recommend{
		width: 100%;
		border-bottom: 10px solid #F5F5F5;
	}
	.recom-head{
		line-height: 44px;
		padding-left: 12px;
		border-bottom: 1px solid #F5F5F5;
	}
	 .recom-head i{
	 	color: #fff;
	 	background-color: #53AC7D;
	 	font: 9px/9px a;
	 	padding:3px 5px 0 5px;
	 	border-radius: 1px;
	 }
	.recom-list{
		margin:15px 10px; 
	}
	.recom-list li{
		padding: 15px 0;
		border-bottom: 1px solid #eee;
	}
	.recom-list li:last-child{
		border-bottom: none;
	}
	.recom-list li:after{
		content: " ";
		display: block;
		clear: both;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	.recom-list span{
		display: block;
		float: left;
		font: 14px/16px a;
		color: rgba(237, 83, 15, .9); 
	}
	.recom-list .info_title2{
		display: block;
		margin-left: 25px;
	}
	.recom-list .info_title2 i{
		font: 12px/12px a;
		color: rgba(0, 0, 0, .4);
		background-color: #fff;
		margin: 0px 0 0 13px;  
	}

	.recom-list .cover{
		width: 84px;
		height: 116px;
		position: relative;
		float: left;
	}
	.recom-list .cover img{
		width: 100%;
		height: 100%;
	}
	.img_tag_num{
		position: absolute;
		width: 14px; 
		background-color:#ED530F;
		color: #fff;
		text-align: center;
		-webkit-transform-origin: top center;
		-webkit-transform: translateX(20%) scale(.9); 

	}
	.img_tag_num:before{
		content: '1'; 
	} 
	.img_tag_state{
		position: absolute;
		bottom: 5px;
		left: 5px;
		width: 40px; 
		color: #fff;
		z-index: 99;
		font: 12px/12px a;
		text-align: center;
	} 
	.recom-list .info{
		margin-left: 94px;
	}
	.recom-list .info .info_title{
		font: 16px/17px a;
		margin-bottom: 4px;
		color: rgba(0, 0, 0,.9);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal; 
	}
	.recom-list .info .info_author{
		font: 14px/17px a;
		margin-bottom: 4px;
		color: rgba(0, 0, 0,.9);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
	}
	.recom-list .info .info_desc{
		font: 14px/17px a;
		margin-bottom: 4px;
		color: rgba(0, 0, 0, .6);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal; 
	}
	.book-tag_list{
		margin-top: 15px;
		width: 100%;
	}
	.book-tag_list .book_tag{
		float: left;
		color: #53AC7D;
		border: 1px solid #53AC7D;
		border-radius: 5px;
		padding: 2px;
		font: 12px/14px a;
		margin-right: 10px;
		margin-bottom: 5px;
	}
	.recom-btn{
		width: 100%;
		display: flex;
		line-height: 44px;
		border-top: 1px solid #eee;
	}
	.recom-btn a{
		text-align: center;
		flex: 1;
	}
	.recom-btn a:first-child{
		border-right: 1px solid #eee;
	}

</style>
<div class="recommend">
	<div class="recom-head">
		<h4>重磅推荐 <i>推</i></h4>
	</div>
	<ul class="recom-list">
		<li >
			<div class="cover clearfix ">
				<div class="img_tag_num">
					
				</div>
				<img src="/static/img/bookrecom.jpg" alt="" />
				<div class="img_tag_state">
					完结
				</div>
			</div>
			<div class="info">
				<p class="info_title">都市佣兵之王</p>
				<p class="info_author">一壶茶水</p>
				<p class="info_desc">昔日龙魂少组，国际顶尖雇佣兵公认的王者，被便宜老丈人揪回都市，娶了个冰山女神老婆。
被老婆嫌弃不要紧...</p>
				<div class="book-tag_list">
					<div class="book_tag">都市生活</div><div class="book_tag">451万字</div><div class="book_tag">玄幻科学</div>
					<div class="book_tag">军事题材超长</div>
				</div>
			</div>
		 </li>
<li >
			<div class="cover clearfix ">
				<div class="img_tag_num">
					
				</div>
				<img src="/static/img/bookrecom.jpg" alt="" />
				<div class="img_tag_state">
					
				</div>
			</div>
			<div class="info">
				<p class="info_title">都市佣兵之王</p>
				<p class="info_author">一壶茶水</p>
				<p class="info_desc">昔日龙魂少组，国际顶尖雇佣兵公认的王者，被便宜老丈人揪回都市，娶了个冰山女神老婆。
被老婆嫌弃不要紧...</p>
				<div class="book-tag_list">
					<div class="book_tag">都市生活</div><div class="book_tag">451万字</div><div class="book_tag">玄幻科学</div>
					<div class="book_tag">军事题材超长</div>
				</div>
			</div>
		 </li>
		 <li>
		 	<span>02</span><p class="info_title2">我的姥爷是盗墓贼<i>无双</i></p>
		 </li>
		  <li>
		 	<span>03</span><p class="info_title2">刀破苍穹<i>何无恨</i></p>
		 </li>
		  <li>
		 	<span>04</span><p class="info_title2">无敌小村医<i>何无恨</i></p>
		 </li>
		  <li>
		 	<span>05</span><p class="info_title2">我的姥爷是盗墓贼<i>无双</i></p>
		 </li>
		  <li>
		 	<span>06</span><p class="info_title2">武道霸主<i>蜀狂人</i></p>
		 </li>
	</ul>
	<div class="recom-btn">
		<a href="#">换一换</a>
		<a href="#">查看全部</a>
	</div>
</div>