
<div class="top-home">
	<a href="javascript:void(0)">
		<div class="top-home_search">
			输入\书名\作者\关键字			
		</div>
	</a>
	<div class="banner">
		<img src="/static/img/banner.jpg" alt="">
	</div>
	<ul class="top-home_category">
		<li>
			<a href="/free">
				<img class="top-home_category_icon" src="/static/img/rank.png" alt="">
				<p href="/free">
					限免
				</p>
			</a>
		</li>
		<li>
			<a href="/famale">
				 <img class="top-home_category_icon" src="/static/img/female.png" alt="">
				<p href="/famale">
					女生
				</p>
			</a>
		</li>
		<li> 
			<a href="/male">
				<img class="top-home_category_icon" src="/static/img/male.png" alt="">
				<p href="/male">
					男生
				</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<img class="top-home_category_icon" src="/static/img/category.png" alt="">
				<p href="/category">
					分类
				</p>
			</a>
		</li>
		
	</ul>
</div>