
<div class="recommend">
	<div class="recom-head">
		<h4>重磅推荐 <i>推</i></h4>
	</div>
	<ul class="recom-list">
		<li v-for="item in recommend" v-if="$index==0">
			<div class="cover clearfix ">
				<div class="img_tag_num">
					
				</div>
				<img v-bind:src="item.cover" alt="" />
				<div class="img_tag_state">
					完结
				</div>
			</div>
			<div class="info">
				<p class="info_title">{{ item.title }}</p>
				<p class="info_author">{{ item.authors }}</p>
				<p class="info_desc">{{ item.summary }}</p>
				<div class="book-tag_list">
					<div class="book_tag" v-for="tag in item.tags">{{ tag }}</div>
				</div>
			</div>
		 </li> 
		 <li v-for="item in recommend" v-if="$index>0 && $index<9">
		 	<span>{{ $index }}</span><p class="info_title2">{{ item.title }}<i> {{ item.authors }} </i></p>
		 </li>  
	</ul>
	<div class="recom-btn">
		<a href="#">换一换</a>
		<a href="#">查看全部</a>
	</div>
</div>