
<div class="top-hot">
	<div class="top-hot_head">
		<h4>本周最火</h4>
	</div>
	<ul class="top-hot_list clearfix">
		<li v-for="item in rank" v-if="$index>0 && $index<=6">
			<div class="top-hot_book">
				<div class="top-hot_cover">
					<img  v-bind:src="item.cover" />
					<div class="book_free">
						
					</div>
				</div>
				<div class="top-hot_info">
					<p >{{item.title}}</p>
				</div> 
			</div>
		</li> 
		 
	</ul>
	<div class="top-hot_bottom">
		<a href="/free"><p>查看更多&gt;&gt;</p></a>
	</div>
</div>